[Unit]
Description=Compressed swap in RAM (zram)
DefaultDependencies=no
Before=swap.target
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/zram-swap start
ExecStop=/usr/local/sbin/zram-swap stop

[Install]
WantedBy=swap.target
